<div id="header">
  <div id="top-bar">
    <img id="main-logo" src="" alt="Main Logo">
    <ul id="main-nav-items">
      <li>Buy</li>
      <li>Rent</li>
      <li>Sell</li>
      <li>Mortgages</li>
      <li>Agent Finder</li>
      <li>Home Design</li>
      <li>More</li>
    </ul>
    <ul id="session-nav-items">
      <li>Advertise</li>
      <li><a href="/sessions">Sign</a> in or <a href="/users">Join</a></li>
      <li>
        <img class="icon"src="" alt="Help Icon">
      </li>
    </ul>
  </div>
</div>
