
<div id="top-spacer">

</div>

<div id="content-wrapper">
  <div class="banner">
    <a href="#">Sign in to save this draft or recover an earlier version</a>
  </div>

  <div class="listing-chunk">
    <h4>For Sale By Owner Listing</h4>
    <h6><%= @property.address %></h6>
    <p>Post once and your home will be listed on both Zillow and Trulia, reaching buyers on the largest real estate network on the Web.  Plus, home shoppers receive emails about new homes on the market – including yours.</p>
  </div>

  <div class="listing-chunk">
    <h5>Set your price</h5>
    <input type="text" name="property[price]" value="">
  </div>

  <div class="listing-chunk">
    <h5>Photos</h5>
    <label>Upload a Photo</label>
    <br>
    <button type="button" name="photo-upload-button">Upload Photos</button>
  </div>

  <div class="listing-chunk">
    <h5>Home facts</h5>
    <div class="column left-column">
      <div class="form-group">
        <label for="">Home Type</label>
        <select class="" name="property[home_type]">
          <option value="0" selected="selected">Single family</option>
          <option value="1">Condo</option>
          <option value="2">Townhouse</option>
          <option value="3">Multi family</option>
          <option value="4">Apartment</option>
          <option value="5">Mobile / Manufactured</option>
          <option value="6">Coop Unit</option>
          <option value="7">Vacant land</option>
          <option value="8">Other</option>
        </select>
      </div>
      <div class="form-group">
        <label for="">Beds</label>
        <input type="number" name="property[beds]" value="4">
      </div>
      <div class="form-group">
        <label for="">Baths</label>
        <input type="number" name="property[baths]" value="3">
      </div>

    </div>
    <div class="column right-column">
      <div class="form-group">
        <label for="">Square feet</label>
        <input type="number" name="property[sq_feet]" value="">
      </div>
      <div class="form-group">
        <label for="">Describe your home</label>
        <textarea name="property[description]" rows="8" cols="80"></textarea>
      </div>
    </div>
  </div>
</div>
