<!-- <div id="main-content-wrapper">
  <div id="main-centered-section">
    <div id="search-wrapper">
      <div class="search-row">
        <h1>Find your way home</h1>
      </div>
      <div id="search-selector" class="search-row">
        <button class="search-option button selected" type="button" name="buy">Buy</button>
        <button class="search-option button" type="button" name="rent">Rent</button>
        <button class="search-option button" type="button" name="sell">Sell</button>
        <button class="search-option button" type="button" name="zestimate">Zestimate</button>
      </div>
      <div id="search-bar-div" class="search-row">

      <form action="/listings/search" method="POST">

        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="search" name="location">

        <div id="search-button-container">
          <button id="search-button" type="submit" name="search">Search</button>
        </div>
        </form>



      </div>
    </div>

  </div>

</div> -->
