<div id="main-content-wrapper">
  <div id="main-centered-section">
    <div id="search-wrapper">
      <div class="search-row">
        <h1>Find your way home</h1>
      </div>
      <div id="search-selector" class="search-row">
        <button class="search-option button selected" type="button" name="buy">Buy</button>
        <button class="search-option button" type="button" name="rent">Rent</button>
        <button class="search-option button" type="button" name="sell">Sell</button>
        <button class="search-option button" type="button" name="zestimate">Zestimate</button>
      </div>
      <div id="search-bar-div" class="search-row">
        <input type="search" name="search" value="">
        <div id="search-button-container">
          <button id="search-button" type="button" name="search">Search</button>
        </div>
      </div>
    </div>

  </div>

</div>
