/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
   font-family: Gotham,gotham,Verdana,sans-serif;
 }


#header{
  width: 100%;
  box-sizing: border-box;
  padding: 0px 12px;
  /*height: 50px;*/
}
#top-bar{
  height: 50px;
  vertical-align: top;
}

#main-logo{
  display: inline-block;
  width: 100px;
  height: 100px;
  z-index: 10;
  /*top: 0px;
  left: 20px;*/
}

 ul{
   padding: 0px;
   vertical-align: top;
   list-style: none;
   display: inline-block;
 }

 li{
   vertical-align: top;
   display: inline-block;
   padding: 0px 8px;
 }

 #session-nav-items{
   float: right;
 }

 .icon{
   width: 16px;
   height: 16px;
 }

#main-centered-section{
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: lightblue;
}

#search-wrapper{
  display: inline-block;
  width: 610px;
}
.search-row{
  margin-bottom: 12px;
}
.search-row h1{
  margin: 0px;
}
.search-row input{
  width: 100%;
  display: inline-block;
  padding:17px 115px 19px 20px;
  border: 0px;
  border-radius: 8px;
  font-size: 21px;
}
#search-button{
  float: right;
  position: relative;
  top: -52px;
  right: 8px;
  width: 102px;
  height: 44px;
  padding: 0px 12px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: blue;
  border: 0px;
  color: white;
  font-size: 16px;
}
